$color-primary: #27272A
$color-light: #A1A1AA
$color-dark: #202124
$white: #FFF

$border-color: #414144
$border-width: 1px

$font-size-lg: 18px
$font-size-md: 14px
$font-size-sm: 10px

.text_large
  font-size: $font-size-lg

.text_medium
  font-size: $font-size-md

.text_small
  font-size: $font-size-sm

.header
  display: flex
  width: 1920px
  height: 44px
  background: $color-primary
  flex-direction: row
  align-items: center
  padding: 0 20px 0 20px

  .item
    margin-right: 20px
    padding: 0 4px 0 4px
    color: $color-light

  .item_active
    @extend .item
    line-height: 43px
    color: $white
    border-bottom: 2px solid $white

.share-icon
  margin-right: 27px

.menu-icon
  margin-right: 20px

.arrow-icon

.main-container
  display: flex
  flex-direction: row

.side-bar
  min-height: 992px
  background: $color-primary
  min-width: 234px

  &__filter
    box-sizing: border-box
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    height: 44px
    border: $border-width solid $border-color
    border-left: 0
    padding-left: 20px
    padding-right: 7px

    .container
      display: flex
      flex-direction: column

    .filter__title
      @extend .text_medium
      color: $color-light

    .filter__subtitle
      @extend  .text_small
      color: $color-light

.entity-header
  width: 1686px
  height: 44px
  background: $color-primary
  border-top: $border-width solid $border-color
  border-bottom: $border-width solid $border-color
  &__title
    @extend .text_large
    box-sizing: border-box
    display: flex
    height: 44px
    border-right: $border-width solid $border-color
    color: $white
    padding: 0 15px 0 15px
    align-items: center
